```{=html}
<div class="publications-list">
  <% for (const item of items) { %>
  <div class="publication-entry" style="margin-bottom: 1em;">
    <p style="margin: 0;"><%- item.formatted %></p>
  </div>
  <% } %>
</div>
```
